<div id="card">
<legend>Plot</legend>
{{result["result"] | safe}}
   {%if result.more is defined:%}
   <div class="section">   
         <div class="button-group">
         {%for elem in result.more:%}
            <button onclick="load{{elem.label.replace('-','_').replace(' ','_') + '_' + result.name.replace('-','_').replace(' ','_') | safe}}()">{{elem.label}}</button>
         {%endfor%}
         </div>

         {%for elem in result.more:%}   
            <div id="{{elem.label.replace('-','_').replace(' ','_') + '_' + result.name.replace('-','_').replace(' ','_') | safe}}" style="width:100%; height:100%; display:none">
            </div>
         {%endfor%}
   </div>
   {%endif%}
</div>
